# Copy to .secrets.yml and update variables
---
samba_secret_credentials:
  /etc/win-credentials:
    owner: root
    group: rout
    mode: 'u=r.go='
    content: |
      username = user
      password = password
      domain = WORKGROUP